* {
  padding: 0;
  margin: 0; }

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "menu      menu      menu"
 "main      main      main"
 "main      main      main"
 "footer    footer    footer";
  font-family: 'Comic Neue', cursive; }

.formulario {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 30px;
  margin-left: 650PX;
  background-color: #f9d485b6;
  margin-top: 50px;
  border: 3px solid black; }
  .formulario H2 {
    text-align: center; }

.form {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  font-weight: bold; }
  .form h1 {
    font-size: 30px; }

.cForm {
  grid-area: main;
  padding-left: 30px;
  background-image: url(../Multimedia/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw; }

.main {
  grid-area: main;
  background-color: white; }

.mainIndex {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.main h1 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  height: 40vw;
  width: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column; }

#inicio {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: none; }

.historiaParrafo {
  font-size: 20px;
  margin-bottom: 30px; }

.footer {
  grid-area: footer;
  background-color: black;
  width: 100vw; }
  .footer ul {
    font-size: 15px;
    text-align: right;
    margin: 20px;
    margin-right: 30px; }
  .footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e1e8ef; }
    .footer a:hover {
      color: #b7c2ce;
      text-decoration: underline; }

.footerTwitter {
  color: #00ACEE; }

.footerFacebook {
  color: #3b5998; }

.footerInstagram {
  color: #D18ABB; }

.historia {
  grid-area: main;
  background-color: #b7c2ce;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  font-weight: bold; }
  .historia p {
    border: 3px solid black;
    margin: 20px;
    padding: 20px; }
  .historia h2 {
    border-bottom: 3px dotted black; }
  .historia button a {
    text-decoration: none;
    background-color: black;
    text-transform: uppercase; }

.header {
  grid-area: menu;
  display: flex;
  justify-content: flex-start;
  font-size: 10px; }

.menu {
  background-color: black; }

.menu a {
  color: #e1e8ef; }
  .menu a:hover {
    color: #b7c2ce;
    text-decoration: underline; }

.peliculas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.imgPeliculas {
  display: flex; }

.imgHistoria {
  float: left;
  margin: 20px; }

.mainPersonajes {
  grid-area: main; }
  .mainPersonajes p {
    font-weight: bold;
    padding-bottom: 100px;
    width: 90vw; }
  .mainPersonajes h1 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px; }

@media (max-width: 815px) {
  .header {
    grid-area: menu;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
  .main {
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: justify; }
  .mainIndex {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100vw;
    margin-left: 100vw; }
  .footer {
    grid-area: footer;
    background-color: black;
    width: 200vw; }
  .menu ul {
    display: flex;
    flex-direction: column; }
  .mainPersonajes {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .mainPersonajes p {
      width: 100vw; }
  .cForm {
    height: 100vw; }
  .formulario {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0PX;
    margin-top: 50px; }
    .formulario h1 {
      text-align: center;
      background-color: yellowgreen;
      font-weight: bold; } }
