* {
    padding: 0;
    margin: 0;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "menu      menu      menu"
        "main      main      main"
        "main      main      main"
        "footer    footer    footer";
    font-family: 'Comic Neue', cursive;
}

//variables

@import './variables/mixins';

// import de paginas scss

@import './secciones/contacto';
@import './secciones/cuerpo-index';
@import './secciones/footer';
@import './secciones/historia';
@import './secciones/menu';
@import './secciones/peliculas';
@import './secciones/personajes';
@import './secciones/series';


@media (max-width: 815px) {

    .header {
        grid-area: menu;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .main {
        grid-area: main;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: justify;
    }

    .mainIndex{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-right: 100vw;
        margin-left: 100vw;
    }

    .footer {
        grid-area: footer;
        background-color: black;
        width: 200vw;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .mainPersonajes{
        display: flex;
        align-items: center;
        flex-direction: column;
        p{
            width: 100vw;
        }
    }

    .cForm {
        height: 100vw;
      }

      .formulario {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 0PX;
        margin-top: 50px;
        h1{
          text-align: center;
          background-color: yellowgreen;
          font-weight: bold;
        }
      }
}