.main {
    grid-area: main;
    background-color: white;
}

.mainIndex{
    padding: 330px;
    padding-bottom: 150px;
    background-image: url(/Multimedia/fondoMain.png);
    background-repeat: no-repeat;
    background-position: right;
}

.main{
  h1{ 
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}

#inicio{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: none;
}