.main {
    grid-area: main;
    background-color: white;
}

.mainIndex{
    grid-area: main;
    background-image: url(/Multimedia/fondoMain.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 50vw;
    height: 45vw;
}

.main{
  h1{ 
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 40vw;
    width: 80vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}
}

#inicio{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: none;
}