.header {
    grid-area: menu;
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
  }

  .menu{
    background-color:black
  }
  .menu a {
    color: #e1e8ef;
  
    &:hover {
      color: #b7c2ce;
      text-decoration:underline
    }
  }
