.peliculas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
      padding: 20px;
    }
    button{
      margin-bottom: 20px ;
      padding: 10px;
      font-weight: bold;
    }
    h4{
      font-weight: bold;
    }
    button {
      a {
          @include btn-irArriba (black, none)
      }

  }
  }
  